
header {
    width: 100%;
    height: 80px;
}

header > div {
    max-width: 1400px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 80px;
    display: flex;
    flex-direction: ;


}

header nav {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}

nav > a {
    color: black;
    /* text-decocation: none; */
    font-size: 18px;
    display: flex;
    flex-direction: center;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    display: flex;
    flex-direction: row;

}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, -6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu-burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}


.content{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto; 

}

.box-1{
    background-image: url('./spaceXimages/starlinkstreak_desktop.jpg');
    
}
.box-2{
    background-image: url('./spaceXimages/gps3_launch_desktop_02.jpg');

}
.box-3{
    background-image: url('./spaceXimages/spaceXThumbsUp-image3.jpg');
}



.box-4{
    background-image: url('./spaceXimages/home_moon-image4.jpg');
}

.bg-shared{
    background-size: cover;
    background-position: center center;
    background-position: fixed;
}


.content > div img{
    width: 175px;
}

.row > div {
    flex-direction: row;
    justify-content: space-between;
}





/* body{
    background-color: #a5a5a5;
    height: 100 vh;
}

.parent-container {
    width: 70vw;
    height: 70vh;
    background-color: teal;
    margin: 0 auto;
    margin-top: 15vh;
} */
/* .first-child {
    height: 100px;
    width: 100px;
    background-color: tomato;
}

.second-child {
    height: 100px;
    width: 100px;
    background-color: magenta;
} */


/* .header-spaceX-logo{

}

.header nav {

}

.header-hamburger {


} */