
header {
    width: 100%;
    height: 80px;
    background-color: black;
}

header > div {
    max-width: 100vw;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 15%;
    height: 15%;
}

header nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

nav > a {
    color: whitesmoke;
    font:12px DINPro-Bold,Arial,Verdana,sans-serif;
    /* text-decocation: none; */
}

.content{
    width: 100%;
    height: 300px;
    /* display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;  */
}

.content > div {
    max-width: 1400px;
    height: 100%;
    width: 100;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    display: flex;
    flex-direction: row;

}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, -6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu-burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.box-1 {
    background-image: url('./spaceXimages/starlinkstreak_desktop.jpg');
    
}
.box-2 {
    background-image: url('./spaceXimages/gps3_launch_desktop_02.jpg');

}
.box-3 {
    background-image: url('./spaceXimages/spaceXThumbsUp-image3.jpg');
}

.box-4{
    background-image: url('./spaceXimages/SpaceXAstonaut-image.png');
}


.box-5{
    background-image: url('./spaceXimages/home_moon-image4.jpg');
}

.row > div {
    flex-direction: row;
    justify-content: space-between;
}


/* body{
    background-color: #a5a5a5;
    height: 100 vh;
}

.parent-container {
    width: 70vw;
    height: 70vh;
    background-color: teal;
    margin: 0 auto;
    margin-top: 15vh;
} */
/* .first-child {
    height: 100px;
    width: 100px;
    background-color: tomato;
}

.second-child {
    height: 100px;
    width: 100px;
    background-color: magenta;
} */


/* .header-spaceX-logo{

}

.header nav {

}

.header-hamburger {


} */